In [1]:
print("Hello, World")

Hello, World

In [2]:
a= 10
print(a)
a= "hello"
print(a)

10
hello

In [3]:
a = 1000
b = 1000
print(id(a))
print(id(b))

2336018223216
2336018223728

## DATA TYPES

In [5]:
a = 10
b = "India"
c = True
d = 5.6
e = 5 + 7j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'complex'>

## ARITHMETIC OPERATORS

In [12]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

7
3
10
2.5
2
1
25

In [16]:
a = '30'
b = '40'
c = "hello"
d = "nanu"
print(c+" "+d)
print(a+b)

hello nanu
3040

## TAKING INPUT

In [8]:
a = input()
print(a)

 20

20

In [17]:
a = input('Enter the value of a')
b = input('Enter the value of b')
print(a)
print(b)
print(a+b)
print(type(a))

Enter the value of a 20
Enter the value of b 30

20
30
2030
<class 'str'>

In [19]:
a = "40"
b = int(a)
print(b)
print(type(b))

40
<class 'int'>

In [20]:
a = "Hello"
b = int(a)
print(b)
print(type(b))

ValueError: invalid literal for int() with base 10: 'Hello'

In [22]:
a = 27.5
b = int(a)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'int'>
27

## FIND THE SUM OF TWO NUMBERS

In [23]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
print("The sum of two numbers is: ",a+b)

Enter the value of a:  60
Enter the value of b:  70

The sum of two numbers is:  130

## TO FIND THE AVERAGE OF 3 NUMBERS

In [29]:
num1 = int(input("Enter the number: "))
num2 = int(input("Enter the number: "))
num3 = int(input("Enter the number: "))
print("the average of 3 number is: ", (num1+num2+num3)//3)

Enter the number:  75
Enter the number:  82
Enter the number:  93

the average of 3 number is:  83

## TO FIND AREA OF A RECTANGLE WITH GIVEN COORDINATES OF THE DIAGONAL

In [34]:
x1 = int(input("Enter the value of x1: "))
y1 = int(input("Enter the value of y1: "))
x2 = int(input("Enter the value of x2: "))
y2 = int(input("Enter the value of y2: "))
print("Area of the Rectangle is: ", (x2-x1)*(y2-y1))

Enter the value of x1:  2
Enter the value of y1:  2
Enter the value of x2:  4
Enter the value of y2:  4

Area of the Rectangle is:  4